.App {
  text-align: center;
  font-family: monospace;
}

.App img {
  width: 150px;
  margin-top: 20xp;
}

.App button {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  font-family: monospace;
  cursor: pointer;
}